<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clubhaus</title>
  </head>
  <body>
    <% if (locals.user) { %>
      <h1>Hello, <%= user.firstName %> <%= user.lastName %>!</h1>
      <a href="/logout">Log out</a>

      <p>Membership status: <%= locals.user.status %></p>

      <% if (locals.user.status !== 'admin') { %>
        <% if (locals.user.status !== 'secret') { %>
          <p><a href="/upgrade-secret-member">Upgrade to secret member</a></p>
        <% } %>
        <p><a href="/upgrade-admin">Upgrade to admin</a></p>
      <% } %>

      <p><a href="/new-message">Post a message</a></p>
    <% } else { %>
      <p>
        <a href="/login">Log in</a> or
        <a href="/signup">Sign up</a>
      </p>
    <% } %>

    <% if (locals.messages && locals.messages.length > 0) { %>
      <% locals.messages.forEach(message => { %>
        <%- include('partials/message', { message }) %>
      <% }) %>
    <% } else { %>
      <p>No message to display.</p>
    <% } %>
  </body>
</html>
